@font-face {
    font-family: poppins;
    src: url(assets/fonts/Poppins-Bold.ttf);
}
*{padding: 0;margin: 0;box-sizing: border-box;
font-family:poppins;white-space: nowrap;
}
@font-face {
    font-family: poppins-bold;
    src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: poppins-light;
    src: url(assets/fonts/Poppins-Regular.ttf);
}
/* ! => 32px */

:root{
    --Purple: hsl(259, 100%, 65%);
    --Light_red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off_white: hsl(0, 0%, 94%);
    --Light_grey: hsl(0, 0%, 86%);
    --Smokey_grey: hsl(0, 1%, 44%);
    --Off_black: hsl(0, 0%, 8%);
}
body{background-color:var(--Light_grey)  ;}
main{width: 90%;background-color:var(--White);margin: 5rem auto;padding:2rem 1rem;border-radius:15px 15px 25% 15px;}
.all-inputs{display: flex;justify-content: space-around;}
.all-inputs label{color: var(--Smokey_grey);}
input{
    width: clamp(90px,8vw,150px);height: clamp(50px,8vw,70px);
    padding: .5rem;
    font-size:20px;outline: none;
    border: 1px solid var(--Light_grey);
}

.all-inputs div{display: flex;flex-direction: column;}
.all-inputs div p{color: var(--Light_red);font-size: 10px;font-family: poppins-light;display: none;}
.arrow{position: relative;height: 10rem;}
.arrow img{
    width: 60px;cursor: pointer;
    position: absolute;top: 50%;left:50%;transform: translate(-50%,-50%);
    background-color: var(--Purple);border-radius: 50%;padding: 1rem;
}
.arrow hr{width: 90%;position: absolute;top: 50%;left:50%;transform: translate(-50%,-50%);}

.result span{color: var(--Purple);}
.result h1{font-size: clamp(50px,5vw,90px);font-family: poppins-bold;}

@media(min-width:376px){
    main{max-width: 900px;}
    .arrow img{width: 80px;left:90%;}
    .all-inputs{justify-content:start;gap :2rem}
 

}